.wd-actionList {
  display: inline-flex;
  margin: 0 10px;
}
.menu {
  padding-left: 0;
}

.imageSize {
  width: 200px;
  height: 300px;
}
.wd-text-size {
  max-width: 200px;
  text-align: match-parent;
}
